<p id="notice"><%= notice %></p>

<p>
  <b>Basecurrency:</b>
  <%= @unfix_issue.baseCurrency %>
</p>

<p>
  <b>Principaljpy:</b>
  <%= @unfix_issue.principalJPY %>
</p>

<p>
  <b>Principalforeign:</b>
  <%= @unfix_issue.principalForeign %>
</p>

<p>
  <b>Status:</b>
  <%= @unfix_issue.status %>
</p>

<p>
  <b>Name:</b>
  <%= @unfix_issue.name %>
</p>

<p>
  <b>Date:</b>
  <%= @unfix_issue.date %>
</p>

<p>
  <b>Enddate:</b>
  <%= @unfix_issue.endDate %>
</p>

<p>
  <b>Valuejpy:</b>
  <%= @unfix_issue.valueJPY %>
</p>

<p>
  <b>Valueforeign:</b>
  <%= @unfix_issue.valueForeign %>
</p>

<p>
  <b>Exchangerate:</b>
  <%= @unfix_issue.exchangeRate %>
</p>

<p>
  <b>Interestrate:</b>
  <%= @unfix_issue.interestRate %>
</p>

<p>
  <b>Duration:</b>
  <%= @unfix_issue.duration %>
</p>

<p>
  <b>Noitem:</b>
  <%= @unfix_issue.noItem %>
</p>


<%= link_to 'Edit', edit_unfix_issue_path(@unfix_issue) %> |
<%= link_to 'Back', unfix_issues_path %>
