<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @unfix_issue.name %>
</p>

<p>
  <b>Principal currency:</b>
  <%= @unfix_issue.principalCurrency %>
</p>

<p>
  <b>Base currency:</b>
  <%= @unfix_issue.baseCurrency %>
</p>

<p>
  <b>Principal jpy:</b>
  <%= @unfix_issue.principalJPY %>
</p>

<p>
  <b>Principal foreign:</b>
  <%= @unfix_issue.principalForeign %>
</p>

<p>
  <b>Valuejpy:</b>
  <%= @unfix_issue.valueJPY %>
</p>

<p>
  <b>Valueforeign:</b>
  <%= @unfix_issue.valueForeign %>
</p>

<p>
  <b>Exchangerate:</b>
  <%= @unfix_issue.exchangeRate %>
</p>

<p>
  <b>Noitem:</b>
  <%= @unfix_issue.noItem %>
</p>

<%= form_tag('/trade_logs/new', :method => :get) do %>
	<%= hidden_field_tag 'ui_id', @unfix_issue.id %>
	<%= hidden_field_tag 'ui_baseCurrency', @unfix_issue.baseCurrency %>
	<%= submit_tag('buy/sell/dividend') %> 
<% end %>

<br/>



<%= link_to 'Edit', edit_unfix_issue_path(@unfix_issue) %> |
<%= link_to 'Back', unfix_issues_path %>
