<%= form_for(@trade_log) do |f| %>
  <% if @trade_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade_log.errors.count, "error") %> prohibited this trade_log from being saved:</h2>

      <ul>
      <% @trade_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :basicPrice %><br />
    <%= f.number_field :basicPrice %>
  </div>
  <div class="field">
    <%= f.label :noItem %><br />
    <%= f.number_field :noItem %>
  </div>
  <div class="field">
    <%= f.label :buyValueJPY %><br />
    <%= f.number_field :buyValueJPY %>
  </div>
  <div class="field">
    <%= f.label :buyValueForeign %><br />
    <%= f.text_field :buyValueForeign %>
  </div>
  <div class="field">
    <%= f.label :sellValueJPY %><br />
    <%= f.number_field :sellValueJPY %>
  </div>
  <div class="field">
    <%= f.label :sellValueForeign %><br />
    <%= f.text_field :sellValueForeign %>
  </div>
  <div class="field">
    <%= f.label :dividendValueJPY %><br />
    <%= f.number_field :dividendValueJPY %>
  </div>
  <div class="field">
    <%= f.label :dividendValueForeign %><br />
    <%= f.text_field :dividendValueForeign %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
