unfix issue id:	<%= @ui_id %>
	
	
<%= form_for(@trade_log) do |f| %>
  <% if @trade_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trade_log.errors.count, "error") %> prohibited this trade_log from being saved:</h2>

      <ul>
      <% @trade_log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
	<%= hidden_field_tag 'ui_id', @ui_id %>
	
  	<%= f.select :tradeType, 
	[
		["buy","buy"],
		["sell","sell"],
		["dividend","dividend"],
	] 
	%>
	


	<table>
  		<tbody id="tl_formbody">
  			<tr id="tl_trDate">
	  			<td>Date</td>
  				<td>
  					<%= f.text_field :date %>
  				</td>
  			</tr>
  			<tr id="tl_trBasicPrice">
	  			<td>basicPrice</td>
  				<td>
  					<%= f.number_field :basicPrice %>
  				</td>
  			</tr>
  			<tr id="tl_trBasicPriceForeign">
	  			<td>basicPriceForeign</td>
  				<td>
  					<%= f.text_field :basicPriceForeign %>
  				</td>
  			</tr>
  			<tr id="tl_trNoItem">
	  			<td>noItem</td>
  				<td>
  					<%= f.number_field :noItem %>
  				</td>
  			</tr>
  			<tr id="tl_trBuyValueJPY">
	  			<td>buyValueJPY</td>
  				<td>
  					<%= f.number_field :buyValueJPY %>
  				</td>
  			</tr>
  			<tr id="tl_trBuyValueForeign">
	  			<td>buyValueForeign</td>
  				<td>
  					<%= f.text_field :buyValueForeign %>
  				</td>
  			</tr>
  			<tr id="tl_trSellValueJPY">
	  			<td>sellValueJPY</td>
  				<td>
  					<%= f.number_field :sellValueJPY %>
  				</td>
  			</tr>
  			<tr id="tl_trSellValueForeign">
	  			<td>sellValueForeign</td>
  				<td>
  					<%= f.text_field :sellValueForeign %>
  				</td>
  			</tr>
  			<tr id="tl_trDividendValueJPY">
	  			<td>dividendValueJPY</td>
  				<td>
  					<%= f.number_field :dividendValueJPY %>
  				</td>
  			</tr>
  			<tr id="tl_trDividendValueForeign">
	  			<td>dividendValueForeign</td>
  				<td>
  					<%= f.text_field :dividendValueForeign %>
  				</td>
  			</tr>
  		</tbody>
  	</table>

	<div class="actions">
    	<%= f.submit %>
  	</div>


<% end %>
