<%= form_for(@fix_issue) do |f| %>
  <% if @fix_issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fix_issue.errors.count, "error") %> prohibited this fix_issue from being saved:</h2>

      <ul>
      <% @fix_issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :baseCurrency %>
    <%= collection_select(:fix_issue, :baseCurrency,
			[[:JPY, 'JPY'], 
			[:AUD, 'AUD'],
			[:USD, 'USD'],
			[:ERU, 'EUR'],
			],
			:first,
			:last)
			  %>
    
  </div>
  <div class="field">
    <%= f.label :principalJPY %><br />
    <%= f.text_field :principalJPY %>
  </div>
  <div class="field">
    <%= f.label :principalForeign %><br />
    <%= f.text_field :principalForeign %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :endDate %><br />
    <%= f.datetime_select :endDate %>
  </div>
  <div class="field">
    <%= f.label :valueJPY %><br />
    <%= f.number_field :valueJPY %>
  </div>
  <div class="field">
    <%= f.label :valueForeign %><br />
    <%= f.text_field :valueForeign %>
  </div>
  <div class="field">
    <%= f.label :exchangeRate %><br />
    <%= f.text_field :exchangeRate %>
  </div>
  <div class="field">
    <%= f.label :interestRate %><br />
    <%= f.text_field :interestRate %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
