<h2>Fix issue list</h2>

<ul>
  <li>定期預金、仕組預金、外貨購入など</li>
</ul>

<%= flash[:error] %>

<table class="list">
  <tr class="header">
    <th>Name</th>
    <th>Base currency</th>
    <th>Principal jpy</th>
    <th>Principal foreign</th>
    <th>Status</th>
    <th>Date</th>
    <th>End date</th>
    <th>Value jpy</th>
    <th>Value foreign</th>
    <th>Exchange rate</th>
    <th>Interest rate</th>
    <th>Duration</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fix_issues.each do |fix_issue| %>
  <tr>
    <td><%= fix_issue.name %></td>
    <td><%= fix_issue.baseCurrency %></td>
    <td><%= fix_issue.principalJPY %></td>
    <td><%= fix_issue.principalForeign %></td>
    <td><%= fix_issue.status %></td>
    <td><%= fix_issue.date %></td>
    <td><%= fix_issue.endDate %></td>
    <td><%= fix_issue.valueJPY %></td>
    <td><%= fix_issue.valueForeign %></td>
    <td><%= fix_issue.exchangeRate %></td>
    <td><%= fix_issue.interestRate %></td>
    <td><%= fix_issue.duration %></td>
    <td><%= link_to 'Show', fix_issue %></td>
    <td><%= link_to 'Edit', edit_fix_issue_path(fix_issue) %></td>
    <td><%= link_to 'End issue', edit_end_fix_issue_path(fix_issue) %></td>
    <td><%= link_to 'Destroy', fix_issue, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fix issue', new_fix_issue_path %>
