<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :currency %><br />
    <%= collection_select(:account, :currency,
	    [
	    [:AUD, 'AUD'],
	    [:USD, 'USD'],
	    [:EUR, 'EUR'],
	    [:NZD, 'NZD'],
	    ],
	    :first,
	    :last)
	    %>
  </div>
  <div class="field">
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </div>
  <div class="field">
    <%= f.label :exchangeRate %><br />
    <%= f.text_field :exchangeRate %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
